#p1{border: 7px solid gold;}
#p2{border: 7px dashed gold;}
#p3{border: 7px dotted gold;}
#p4{border: 7px double gold;}
#p5{border: 7px inset gold;}
#p6{border: 7px outset gold;}
#p7{border: 7px groove gold;}
#p8{border: 7px ridge gold;}

div{border: 2px solid green;}

.pk{
    border: 1px solid red;
    position: relative;
    margin-top: 20px;
}

.pk1{
    border: 5px solid green;
    background-color: aqua;
    position: absolute;
    margin-top: 0px;
    margin-left: 0px;
    float: right;
    
}


