#p1{border: 7px solid gold;}
#p2{border: 7px dashed gold;}
#p3{border: 7px dotted gold;}
#p4{border: 7px double gold;}
#p5{border: 7px inset gold;}
#p6{border: 7px outset gold;}
#p7{border: 7px groove gold;}
#p8{border: 7px ridge gold;}

