/* h2{
    font-family: sans-serif;
    margin-left: 20px;
} */

body{
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

form{
    font-family: sans-serif;
    margin-left: 6%;
    margin-top: 30vh;
    font-size: large;
}

form h2{
    color: rgb(255, 69, 0);
}

form label{
    font-weight: bold;
}

input{
    margin-top: 5px;
    margin-bottom: 5px;
}

[type="text"]{
    box-sizing: border-box;
    width: 95%;
    height: 35px;
}

[type="button"]{
    width: 95%;
    height: 25px;
    background-color: rgb(255, 69, 0);
    color: white;
    height: 30px;
    border: 0px;
}

#cb{
    margin-left: 0px;
}

